.btn {
  outline: none;
  display: inline-block;
  color: var(--white);
  border-radius: 6px;
  padding: 12px 24px;
  background-color: var(--green-900);
  border: none;
  cursor: pointer;
  letter-spacing: 0.15em;

  &--dark {
    background-color: var(--dark-900);
  }
}
