.header {
  z-index: 50;
  position: absolute;
  left: 0;
  right: 0;

  &__top {
    outline: none;
    background-color: var(--dark-500);
  }

  &__img {
    margin-right: 12px;
  }

  &__inner {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
  }

  &__logo {
    height: 100%;
  }

  &__arrow {
    display: inline-block;
    width: 5%;
    margin-right: 19px;
    margin-left: 12px;
    font-weight: 600;
    padding-bottom: 7px;
    align-self: center;
    background-image: url("../img/arrow-green.svg");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center bottom;
  }

  &__input {}

  &__social {
    outline: none;
    display: flex;
  }

  &__border {
    transition: background-color 0.3s, border-radius 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }

    &:focus {
      box-shadow: inset 0px 0px 0px 3px #EFF6E7;
    }

    &:active {
      fill: rgba(255, 255, 255, 0.5);
    }
  }

  &__item {
    display: block;
    padding: 10px;
    border-radius: 3px;
    position: relative;
  }

  &__num {
    color: var(--red-900);
    font-weight: 600;
    font-size: 10px;
    line-height: 1.3;
    top: 0;
    left: 9px;
    padding: 3px;
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: var(--white);
    border-radius: 50%;
  }
}

.header-top {
  padding: 13px 0;

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__img {}

  &__list {
    display: flex;
    justify-content: space-between;
    background-color: var(--green-900);
  }

  &--dark {
    background-color: var(--dark-500);
  }

  &__item {
    position: relative;

    &--revers {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
    }

    &:not(:last-child) {
      margin-right: 24px;
    }
  }

  &__link {
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    color: var(--white);

    &:focus {
      background-image: rgba(255, 255, 255, 0.0001);
      box-shadow: 0px 0px 0px 3px var(--green-100);
      border-radius: 3px;
    }

    &:active {
      box-shadow: none;
      color: #e0edcf;
    }

    &:hover {
      opacity: 0.7;
    }
  }

}

.catalog {

  &__button {
    border: none;
    padding: 13px 0;
    padding-left: 12px;
    margin-right: 38px;
    background-color: var(--white);
    color: var(--green-900);
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    border: none;
    border-radius: 6px;
    width: 240px;
    height: 50px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #E0EDCF;
    }
  }
}

.menu {

  &__burger {
    cursor: pointer;
    margin-right: 18px;
    border: transparent;
    background-color: transparent;
    width: 25px;
    height: 25px;
  }

  &__span {
    cursor: pointer;
    position: relative;
    display: block;
    width: 20px;
    height: 1px;
    background-color: var(--green-900);

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
      width: 25px;
      height: 1px;
      background-color: var(--green-900);
      transition: top 0.5s, bottom 0.5s, transform 0.5s;
    }
  }

  &__span::before {
    top: 10px;
  }

  &__span::after {
    bottom: 10px;
  }
}

.sr-only {
  display: none;
}
