.hero {
  position: relative;

  &__content {
    position: absolute;
    padding: 140px;
    max-width: 1290px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .8);
    padding: 26px;
  }


  &__title {
    max-width: 709px;
    text-transform: uppercase;
    color: var(--dark-500);
    font-weight: 900;
    font-size: 60px;
    line-height: 160%;

    & span {
      color: var(--red-900);
    }
  }

  &__desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
  }

  &__link {
    color: var(--white);
    background-color: var(--green-900);
    padding: 14px 24px;
    border: none;
  }

  &__container {}

  &__image {
    background-image: url();
  }
}


.container {}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.image {}

.swiper-button-prev {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.8);
}

.swiper-button-prev::after {
  color: red;
  width: 19px;
  height: 32px;
}

.swiper-button-next {
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.8);
}
