<section class="advantages">
  <ul class="container advantages__container list-reset">
    <li class="advantages__item">
      <div class="advantages__content">
        <h3 class="advantages__title">Бесплатная доставка</h3>
        <p class="advantages__descr">
          Для заказов на&nbsp;сумму от&nbsp;500&nbsp;₽
        </p>
      </div>
    </li>
    <li class="advantages__item">
      <div class="advantages__content">
        <h3 class="advantages__title">Возврат товара</h3>
        <p class="advantages__descr">Если товары были испорчены</p>
      </div>
    </li>
    <li class="advantages__item">
      <div class="advantages__content">
        <h3 class="advantages__title">Поддержка 24/7</h3>
        <p class="advantages__descr">Лучшие операторы</p>
      </div>
    </li>
  </ul>
</section>
