<footer class="footer">
  <div class="container">
    <ul class="footer__top list-reset">
      <li class="footer__item"><a class="footer__link" href="">Следите за&nbsp;нашими акциями</a></li>
      <li class="footer__item"><a class="footer__link" href="">forma</a></li>
      <li class="footer__item"><a class="footer__link" href=""></a>0</li>
      <li class="footer__item"><a class="footer__link" href="">О&nbsp;нас</a></li>
      <li class="footer__item"><a class="footer__link" href="">Контакты</a></li>
      <li class="footer__item"><a class="footer__link" href="">Публичная оферта</a></li>
      <li class="footer__item"><a class="footer__link" href="">Оплата и доставка</a></li>
      <li class="footer__item"><a class="footer__link" href="">Вакансии</a></li>
      <li class="footer__item"><a class="footer__link" href="">Акции</a></li>
      <li class="footer__item"><a class="footer__link" href="">Отзывы</a></li>
      <li class="footer__item"><a class="footer__link" href="">Новости</a></li>
      <li class="footer__item"><a class="footer__link" href="">0</a></li>
      <li class="footer__item"><a class="footer__link" href="">Горячая линия +7 907 288 365</a></li>
      <li class="footer__item"><a class="footer__link" href="">Санкт-Петербург, ул. Ленина, 1</a></li>
      <li class="footer__item"><a class="footer__link" href=""></a></li>
    </div>
    <div class="footer__bottom">
      <div class="footer__copy">&copy;&nbsp;2021&nbsp;ФРЕШОК</div>
      <ul class="footer__payment">
        <li class="footer__img"><img src="" alt="Виза"></li>
        <li class="footer__img"><img src="" alt="Мастер Кард"></li>
      </ul>
    </div>
  </div>

</footer>
