<header class="header">
  <div class="header__top header-top">
    <div class="header-top__container container">
      <address>
        <ul class="header-top__list header-top--dark list-reset">
          <li class="header-top__item header-top__item--revers">
            <a class="header-top__link" href="#"> адрес и время доставки </a>
            <img
              class="header__img"
              src="img/icon-address.svg"
              alt="Иконка телефона"
              width="32"
              height="21"
            />
          </li>

          <li class="header-top__item header-top__item--revers">
            <a class="header-top__link" href="#"> горячая линия 24/7 </a>
            <img
              class="header__img"
              src="img/icon-tel.svg"
              alt="Иконка телефона"
              width="22"
              height="22"
            />
          </li>
        </ul>
      </address>

      <ul class="header-top__list header-top--dark list-reset">
        <li class="header-top__item">
          <a class="header-top__link" href="#">доставка</a>
        </li>

        <li class="header-top__item">
          <a class="header-top__link" href="#">о нас</a>
        </li>

        <li class="header-top__item">
          <a class="header-top__link" href="#">новости</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="header-top__list list-reset">
    <div class="container">
      <div class="header__inner bottom">
        <a class="header__logo" href="#">
          <svg>
            <use xlink:href="img/sprite.svg#logo"></use>
          </svg>
        </a>

        <div class="bottom__item">
          <div class="catalog__button" href="#">
            <button class="menu__burger">
              <span class="menu__span">
                <span class="sr-only">Ссылка на бургер</span>
              </span>
            </button>
            Каталог продуктов
            <a class="header__arrow" href="#"></a>
          </div>
        </div>

        <div class="bottom__item">
          <form class="header-form form-search header__input" action="#">
            <label class="sr-only" for="email"> </label>
            <input
              class="header-form__input form-search__input"
              id="email"
              type="email"
              name="email"
              placeholder="Найти в магазине ..."
              required
            />
            <button class="form-search__btn header-form__btn" type="submit">
              поиск
            </button>
          </form>
        </div>

        <div class="bottom__item">
          <ul class="header__social list-reset">
            <li class="header__border">
              <a class="header__item img__optim" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#user-link"></use>
                </svg>

                <span class="sr-only"></span
              ></a>
            </li>

            <li class="header__border">
              <a class="header__item img__optim" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#icon-heart"></use>
                </svg>

                <span class="header__num">12</span><span class="sr-only"></span
              ></a>
            </li>

            <li class="header__border">
              <a class="header__item img__optim" href="#">
                <svg>
                  <use xlink:href="img/sprite.svg#icon-cart"></use>
                </svg>

                <span class="header__num">12</span>
                <span class="sr-only"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
