<section class="hero swiper">
  <div class="swiper-wrapper">
    <div
      class="swiper-slide"
      style="background-image: url(../img/hero/hero-image-1.png)"
    >
      <div class="hero__content">
        <h1 class="hero__title">
          свежачек вам в&nbsp;чату<span>Скидка &minus;50%</span>
        </h1>
        <p class="hero__descr">
          Только с&nbsp;7&nbsp;по&nbsp;13&nbsp;июля скидка на&nbsp;сезонные
          фрукты и&nbsp;овощи до&nbsp;50%. Торопитесь!
        </p>
        <a class="hero__link btn" href="#">Купить сейчас</a>
      </div>
    </div>
    <div
      class="swiper-slide"
      style="background-image: url(../img/hero/hero-image-2.png)"
    >
      <div class="hero__content">
        <h1 class="hero__title">
          Накрути себе томатов<span>Акция: 3&nbsp;кг по&nbsp;цене&nbsp;1</span>
        </h1>
        <p class="hero__descr">
          Только с&nbsp;12&nbsp;по&nbsp;15&nbsp;июля скидка на&nbsp;домашние
          помидорчики
        </p>
        <a class="hero__link btn" href="#">Купить сейчас</a>
      </div>
    </div>
    <div
      class="swiper-slide"
      style="background-image: url(../img/hero/hero-image-3.png)"
    >
      <div class="hero__content">
        <h1 class="hero__title">
          Пусть остальные позеленеют от&nbsp;зависти<span
            >Распродажа зелени</span
          >
        </h1>
        <a class="hero__link btn" href="#">Купить сейчас</a>
      </div>
    </div>
  </div>
  <div class="swiper-button-prev slick-arrow"></div>
  <div class="swiper-button-next slick-arrow"></div>
</section>
