<section class="top__content">
  <article class="product">
    <ul class="product__top list-reset">
      <li class="product__left">
        <ul class="product__badges list-reset">
          <li class="product__badg product__badg--green">новинка</li>
          <li class="product__badg product__badg--red">-50%</li>
          <li class="product__badg product__badg--orange"></li>
        </ul>
      </li>
      <li class="product__heart"></li>
    </ul>
    <a class="product__image">
      <div class="product__switch image__switch">
        <img src="../img/top/pineapple.jpg" alt="Картинка товара" />
      </div>
    </a>
    <div class="product__title">Ананас</div>
    <ul class="product__props">
      <div class="product__price product-price">
        <div class="product-span__old">1999&nbsp;₽</div>
        <span class="product-price__current">999&nbsp;₽</span>
      </div>
      <button
        class="product__btn"
        style="background-image: url('img/top/icon-cart.svg')"
        href="#"
        type="button"
      ></button>
    </ul>
  </article>
</section>
